:root {
    --background: white;
    --foreground: black;
    --accent: #0000EE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

html {
    font-size: 18px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 0 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

a:hover {
    color: var(--accent);
}

footer {
    font-size: .8rem;
    column-count: 3;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-transform: lowercase;
    line-height: 1.6rem;
    letter-spacing: .04rem;
    font-weight: 500;
}

nav ul li ul {
    margin-left: 1rem;
}

#parafernalia {
    margin-top: .4rem;
}
#parafernalia li {
    line-height: 1.2rem;
}

h1 {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-weight: 400;
}

#libreria {
    display: flex;
    gap: 1.4rem;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.progetto {
    filter: grayscale(0%) opacity(100%) blur(0);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.progetto img {
    box-shadow:
        #32325d40 0px 2px 5px,
        #0000004d 0px 1px 3px;
}

@media (max-width: 750px) {
    footer {
        column-count: 2;
    }
}

@media (max-width: 520px) {
    footer {
        column-count: 1;
    }
}
