:root {
    --background: white;
    --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

* {
    font-size: 20px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    text-transform: lowercase;
    padding-bottom: .4rem;
    padding-top: .4rem;
    letter-spacing: .04rem;
    font-weight: 500;
}

h1 {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#email {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
    margin-top: .4rem;
    margin-left: 4rem;
}

#email::before {
    content: " // ";
}