:root {
    --foreground: black;
    --background: white;
    --accent: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 1rem;
}

input {
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
    touch-action: manipulation;
}

.symbol {
    fill: var(--foreground);
}

.modifier {
    fill: var(--accent);
}

.possibilities {
    fill: transparent;
    stroke: var(--foreground);
}

#container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}

#container #hex {
    display: flex;
    flex-direction: column-reverse;
}

.line {
    width: 120px;
    height: 24px;
}

#container #controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#response {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#response .legend {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.legend .hex {
    font-size: 6rem;
}

.legend .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}

.panel .number {
    font-size: 1.2rem;
}

.panel .name {
    font-size: 1.4rem;
    font-weight: 500;
}