@font-face {
    font-family: Chicago;
    src: url(/fonts/chi-reg.woff2);
    font-display: swap;
}

:root {
    --margin: inherit;
    --background: white;
    --foreground: black;
    --accent: #ee0000;
    --max-width: 21.4rem;
    --button-bg: #c0c0c0;
    --button-fg: #1d1d1d;
    --disabled: #B6B7B8;
    --pixel-size: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --foreground: white;
    }
}

/* @media (min-resolution: 2x) {
    :root {
        --pixel-size: 2;
    }
}

@media (min-resolution: 3x) {
    :root {
        --pixel-size: 3;
    }
} */

body {
    color: var(--foreground);
    image-rendering: pixelated;
    font-family: Chicago, sans-serif;
    padding: 1rem;
    margin: 0;
    border-top: 1px solid black;
    background: linear-gradient(45deg, var(--background) 25%, transparent 25%, transparent 75%, var(--background) 75%, var(--background)), linear-gradient(45deg, var(--background) 25%, transparent 25%, transparent 75%, var(--background) 75%, var(--background));
    background-color: var(--foreground);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
}

h1 {
    font-family: Chicago;
    font-size: 1.5em;
}

.window {
    flex-direction: column;
    margin: 1rem auto;
    min-width: 320px;
    max-width: var(--max-width);
    overflow: hidden;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    font-family: Chicago, sans-serif;
    box-shadow: 1px 0px 0px var(--foreground),
        0px 1px 0px var(--foreground),
        1px 1px 0px var(--foreground);
}

.title-bar {
    flex: none;
    display: flex;
    align-items: center;
    height: 15px;
    image-rendering: pixelated;
    padding: 3px 2px;
    background: linear-gradient(var(--foreground) 50%, transparent 50%);
    background-size: 1px 2px;
    background-clip: content-box;
    /* border-bottom: 1px solid var(--foreground); */
}

.title-bar .title {
    padding: 0 4px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: normal;
    line-height: .8;
    text-align: center;
    background: var(--background);
    cursor: default;
    font-family: Chicago;
}

.btn,
.btn-default {
    touch-action: manipulation;
    min-height: 20px;
    min-width: 59px;
    padding: 0 20px;
    text-align: center;
    background: var(--background);
    border-style: solid;
    border-width: 5.5px;
    border-image: url("/img/iching/button.svg") 30 stretch;
    color: var(--foreground);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Chicago, sans-serif;
    cursor: pointer;
}

.btn:active {
    background: var(--background);
    border-radius: 6px;
    color: var(--foreground);
    font-family: Chicago;
}

.btn:disabled {
    min-height: 20px;
    min-width: 59px;
    text-align: center;
    background: var(--background);
    border-style: solid;
    border-width: 5.5px;
    border-image: url("/img/iching/button.svg") 30 stretch;
    color: var(--disabled);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: Chicago, sans-serif;
}

.btn-default {
    border-image: url("/img/iching/button-default.svg") 60 stretch;
    border-width: 0.5em;
}

.btn-default:active {
    border-radius: 12px;
}

.nascosto {
    display: none !important;
}

.symbol {
    fill: var(--foreground);
}

.modifier {
    fill: var(--accent);
}

.possibilities {
    fill: transparent;
    stroke: var(--foreground);
    stroke-dasharray: 1 1;
    stroke-width: 1;
}

.possibilities.modifier {
    display: none;
}

#container {
    margin: 1rem;
}

#container #hex {
    display: flex;
    flex-direction: column-reverse;
}

#container #hex label {
    text-align: center;
    margin-top: .4rem;
}

.line {
    width: 120px;
    height: 24px;
}

#hor-pan {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
}

#container #controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#response {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    max-width: var(--max-width);
    margin-left: 2.4rem;
    padding: 1rem 2rem;
}

#response .legend {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.legend .hex {
    font-size: 6rem;
}

.legend .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}

.panel .number {
    font-size: 1rem;
}

.panel .name {
    font-size: 1.4rem;
    font-weight: 500;
}

#func {
    font-weight: normal;
}

.no-history {
    column-span: all;
    text-align: center;
    font-style: italic;
}

#res-hex {
    font-weight: bold;
}