:root {
    --light-color: #f0eee7;
    --dark-color: #131832;
    --base-font-stack: system-ui, sans-serif;
    --fg-color: var(--dark-color);
    --bg-color: var(--light-color);
    --link-color: #3171a5;
    --animation-speed: .15s;
    --animation-mode: linear;
    --menu-color: #ffd500;
    --menu-radius: 1rem;
}

body {
    font-family: var(--base-font-stack);
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-size: 18px;
}

#noise {
    background-image: url(/img/home/noise.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    opacity: .4;
    z-index: -2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#menu a {
    color: var(--fg-color);
    text-decoration: none;
}

#menu #icona {
    font-size: 3rem;
    cursor: pointer;
    text-align: right;
    margin: 1rem 1rem;
    font-family: monospace;
    position: relative;
}

#menu #icona #menu-open {
    position: absolute;
    right: 0;
    transform: rotateX(0deg);
    transition: var(--animation-speed) transform var(--animation-mode);
}

#menu #icona #menu-open.hidden {
    transform: rotateX(90deg);
    transition: var(--animation-speed) transform var(--animation-mode);
}

#menu ul {
    margin: 0 1rem;
    list-style-type: none;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menu li {
    background-color: var(--menu-color);
    padding: 1rem 1.6rem;
    max-width: fit-content;
    text-align: right;
}

.bottom-round {
    border-bottom-left-radius: var(--menu-radius);
}

.top-round {
    border-top-left-radius: var(--menu-radius);
}

#menu li:first-of-type {
    border-top-right-radius: var(--menu-radius);
    border-top-left-radius: var(--menu-radius);
}

#menu li:last-of-type {
    border-bottom-right-radius: var(--menu-radius);
    border-bottom-left-radius: var(--menu-radius);
}

a {
    color: var(--link-color);
}

main {
    display: flex;
    gap: 1.4rem;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
}

#bio {
    padding: 1rem;
    margin-bottom: 2rem;
}

#bio #nome {
    font-weight: 540;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-stretch: 140%;
    font-width: 140%;
}

#bio p {
    margin-block-start: .6rem;
    margin-block-end: .6rem;

}

.progetto {
    filter: grayscale(0%) opacity(100%) blur(0);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.progetto img {
    border-radius: 2px;
    box-shadow: #32325d40 0px 2px 5px, #0000004d 0px 1px 3px;
}

.progetto[data-tipo=libro] img {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    transition: var(--animation-speed) filter var(--animation-mode);
}

footer {
    margin-top: 2rem;
    font-size: .8rem;
    text-align: center;
}

footer svg {
    width: 2rem;
}

svg path {
    fill: var(--fg-color);
}

footer #gpg {
    font-family: monospace;
    font-size: smaller;
    letter-spacing: 1px;
}

#selettore {
    font-size: .9rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.secondo-piano {
    filter: grayscale() opacity(20%) blur(4px);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.secondo-piano img {
    box-shadow: none;
    transition: var(--animation-speed) filter var(--animation-mode);
}

label {
    display: none;
}

.nascosto {
    display: none !important;
}

.annebbiabile {
    transition: var(--animation-speed) filter var(--animation-mode);
}

.annebbiato {
    filter: blur(5px) grayscale(100%);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.non-cliccabile {
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: var(--light-color);
        --bg-color: var(--dark-color);
        --link-color: #f09262;
        --menu-color: #b98502;
    }

    #noise {
        mix-blend-mode: lighten;
    }
}