:root {
    --background: white;
    --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #666;
    --foreground: white;
  }
}

* {
    font-size: 16px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 1rem;
}

#libreria {
    display: flex;
    gap: 1.4rem;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

.progetto {
    filter: grayscale(0%) opacity(100%) blur(0);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.progetto img {
    /* border-radius: 2px; */
    box-shadow:
        #32325d40 0px 2px 5px,
        #0000004d 0px 1px 3px;
}

.progetto[data-tipo="libro"] img {
    transition: var(--animation-speed) filter var(--animation-mode);
}

#selettore {
    font-size: 0.9rem;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.secondo-piano {
    filter: grayscale() opacity(20%) blur(4px);
    transition: var(--animation-speed) filter var(--animation-mode);
}

.secondo-piano img {
    box-shadow: none;
    transition: var(--animation-speed) filter var(--animation-mode);
}

label {
    display: none;
}