:root {
    --margin: inherit;
    --background: white;
    --foreground: black;
    --accent: red;
    --max-width: 40rem;
    --lang-en: aliceblue;
    --lang-it: antiquewhite;
    --primary-bg: #3478f6;
    --primary-fg: white;
    --destructive-bg: #e4e4e4;
    --destructive-fg: red;
    --disable-bg: #c0c0c0;
    --disable-fg: #919191;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
    --lang-en: steelblue;
    --lang-it: indianred;
  }

  path {
    stroke: var(--foreground);
  }
}

html {
    font-size: 20px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 1rem;
}

a {
    color: var(--foreground);
}

article {
    max-width: var(--max-width);
    margin-left: var(--margin);
    margin-right: var(--margin);
}

input[type=button], button {
    border-radius: 99em;
    border: none;
}

input[type=button]:active:enabled, button:active:enabled {
    background-color: var(--background);
    color: var(--foreground);
}

.primary:enabled {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

.destructive:enabled {
    background-color: var(--destructive-bg);
    color: var(--destructive-fg);
}




/* index.html */

#home a {
    text-decoration: none;
}

#home nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#home nav ul li {
    text-transform: lowercase;
    padding-bottom: .4rem;
    padding-top: .4rem;
    letter-spacing: .04rem;
    font-weight: 500;
}

#home h1 {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#home #email {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
    margin-top: .4rem;
    margin-left: 4rem;
}

#home #email::before {
    content: " // ";
}






/* libri.html */

#libri #libreria {
    display: flex;
    gap: 1.4rem;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
}

#libri .progetto {
    filter: grayscale(0%) opacity(100%) blur(0);
    transition: var(--animation-speed) filter var(--animation-mode);
}

#libri .progetto img {
    /* border-radius: 2px; */
    box-shadow:
        #32325d40 0px 2px 5px,
        #0000004d 0px 1px 3px;
}

#libri .progetto[data-tipo="libro"] img {
    transition: var(--animation-speed) filter var(--animation-mode);
}

#libri #selettore {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#libri #selettore select, #libri #selettore input {
    font-size: 0.8rem;
}

#libri .secondo-piano {
    filter: grayscale() opacity(20%) blur(4px);
    transition: var(--animation-speed) filter var(--animation-mode);
}

#libri .secondo-piano img {
    box-shadow: none;
    transition: var(--animation-speed) filter var(--animation-mode);
}

#libri label {
    display: none;
}






/* calcolatore-agende-vetuste.html */

#agende #input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#agende #input div {
    display: flex;
    flex-direction: row;
    gap: .4rem;
    align-items: baseline;
}

#agende input[type=submit] {
    padding: .4rem 1rem;
    align-self: flex-start;
}

#agende #output {
    padding: 1rem;
}

@media screen and (max-width: 500px) {
    #agende #input div {
        flex-direction: column;
    }
}






/* dettami.html */

body#dettami {
    margin: 0;
    background-color: #bbb;
    background-image: url(/img/dettami/g50.png);
    image-rendering: pixelated;
    min-height: 100%;
}

#dettami article {
    display: none;
}

#dettami img {
    width: 700px;
    image-rendering: pixelated;
    /* filter: drop-shadow(1px 1px 4px #333); */
}

#dettami .data {
    text-align: right;
}

@media only screen and (max-width: 700px) {
    #dettami img {
        max-width: 100%;
    }
}






/* guida-sviluppo.html */

#sviluppo math {
    margin-left: 2rem;
}

#sviluppo figure {
    text-align: center;
    margin: 0;
}

#sviluppo figcaption {
    font-size: .8rem;
}

#sviluppo svg path {
    fill: var(--foreground);
}

#sviluppo svg {
    max-width: 80vw;
}

#sviluppo footer * {
    font-size: .8rem;
}

#sviluppo form {
    display: flex;
    flex-direction: column;
}

#sviluppo form label, #sviluppo  dt {
    font-weight: bold;
}

#sviluppo form input {
    margin-bottom: 1rem;
}

#sviluppo form input:invalid {
    border: 2px dashed red;
}






/* iching.html */

#iching input {
    font-size: 1rem;
    padding: .6rem 1.4rem;
    touch-action: manipulation;
}

#iching .symbol {
    fill: var(--foreground);
}

#iching .modifier {
    fill: var(--accent);
}

#iching .possibilities {
    fill: transparent;
    stroke: var(--foreground);
}

#iching #container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}

#iching #container #hex {
    display: flex;
    flex-direction: column-reverse;
}

#iching #container #hex label {
    text-align: center;
    margin-top: .4rem;
}

#iching .line {
    width: 120px;
    height: 24px;
}

#iching #container #controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#iching #response {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#iching #response .legend {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#iching .legend .hex {
    font-size: 6rem;
}

#iching .legend .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}

#iching .panel .number {
    font-size: 1rem;
}

#iching .panel .name {
    font-size: 1.4rem;
    font-weight: 500;
}






/* use-a-fracking-translator.html */

#frak span[data-curr-lang=en] {
    background-color: var(--lang-en);
}

#frak span[data-curr-lang=it] {
    background-color: var(--lang-it);
}

#frak #footnotes {
    font-size: .8rem;
}