:root {
    --background: white;
    --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }

  path {
    stroke: var(--foreground);
  }
}

/* :root {
    --light-color: #f8f8f7;
    --dark-color: #202020;
    --base-font-stack: Futura, 'Gill Sans', 'Gill Sans MT', sans-serif;
    --fg-color: var(--dark-color);
    --bg-color: var(--light-color);
    --link: #285583;
    --max-width: 40rem;
    --margin: 4rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: var(--light-color);
        --bg-color: var(--dark-color);
        --link: #e68c42;
    }
} */

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: sans-serif;
    padding: 1rem;
}

article {
    max-width: var(--max-width);
    margin-left: var(--margin);
}

math {
    margin-left: 2rem;
}

figure {
    text-align: center;
    margin: 0;
}

figcaption {
    font-size: .8rem;
}

svg path {
    fill: var(--fg-color);
}

svg {
    max-width: 80vw;
}

footer {
    font-size: .8rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label,
dt {
    font-weight: bold;
}

form input {
    margin-bottom: 1rem;
}

form input:invalid {
    border: 2px dashed red;
}

@media (max-width: 40rem) {
    article {
        margin-left: 0;
    }
}