:root {
  --primary: #fff;
  --secondary: #000;
  --disabled: #b7b7b7;
}

@font-face {
  font-family: Chicago;
  src: url("/fonts/chicago.woff2") format("woff2");
  font-display: swap;
}

body {
  background-image: url("/img/iching/bg-2.png");
  image-rendering: pixelated;
  font-family: Chicago, monospace;
  border-top: 1px solid var(--secondary);
  margin: 0;
  padding: 10px;
}

#container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.panel {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  box-shadow: 2px 2px 0px var(--secondary);
  -webkit-font-smoothing: unset;
  text-align: center;
  padding: 20px;
  max-width: 400px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#control {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 20px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--secondary);
}

#hex {
  gap: 0;
  flex-direction: column-reverse;
}

.line {
  width: 120px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.yin {
  background-image: url("/img/iching/yin.png");
}

.yin_ {
  background-image: url("/img/iching/yin_.png");
}

.yang {
  background-image: url("/img/iching/yang.png");
}

.yang_ {
  background-image: url("/img/iching/yang_.png");
}

.btn, .btn-default {
  min-height: 20px;
  min-width: 59px;
  padding: 0 20px;
  text-align:center;
  background: var(--primary);
  border-style: solid;
  border-width: 5.5px;
  border-image: url("/img/iching/button.svg") 30 stretch;
  color: var(--secondary);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: Chicago;
  cursor: pointer;
}

.btn-default {
  border-image: url("/img/iching/button-default.svg") 60 stretch;
  border-width: 0.5em;
}

.btn-default:active {
  border-radius: 12px;
}

.btn:active {
  background: var(--secondary);
  border-radius:6px;
  color: var(--primary);
}

.btn:disabled {
  color: var(--disabled);
}

.hidden {
  display: none;
}

#response {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.hex {
  font-size: 80px;
}

.number {
  font-size: 10px;
}
