:root {
    --foreground: black;
    --background: white;
    --lang-en: aliceblue;
    --lang-it: antiquewhite;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: white;
        --background: black;
        --lang-en: steelblue;
        --lang-it: indianred;
    }
}

html {
    font-size: 20px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
}

article {
    max-width: 40rem;
}

#panel {
    justify-content: space-around;
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

button {
    font-size: 1.2rem;
    padding: .4rem .8rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

span[data-curr-lang=en] {
    background-color: var(--lang-en);
}

span[data-curr-lang=it] {
    background-color: var(--lang-it);
}

#footnotes {
    font-size: .8rem;
}